@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  src: url("/font/Sofia/Sofia Pro Regular Az.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* @font-face {
  font-family: "SofiaPro";
  src: url("/font/Sofia/Sofia Pro Bold Az.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
} */
